@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
    font-family: 'Lato';
}
body {
    margin: 0px;
    font-family: Lato;
}

header {
    background-color: #EEEEEE;
    display: flex; 
    justify-content: center;
}

#logo {
    width: 3cm;
    height: 3cm;
    border-radius: 50%;
    margin: 0.5em 0px;
}

nav {
    background-color: #EEEEEE;
}

.navbtn {
    width: 25%;
    text-align: center;
    border: 3px solid #EEEEEE ; 
}

.navbtn:hover {
    border: 3px solid rgba(213, 151, 65, 0.3) ;
}

a:link {
    color: rgb(140, 98, 57)
}

a:hover {
    color: rgba(213, 151, 65, 0.3)
}

#ImagenCool {
    height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/img_fondo.avif);
}

#BigText {
    color: rgba(255, 255, 255, .7);
    font-size: 78;
    font-weight: bold;
}

section{
    text-align: center;
    margin:0px 0px 4em 0px
}

section div {
    font-weight: bold;
}

.FoodStuffs{
    width: 15em;
    height: 11em;
    margin: 1em 0.5em auto 0.5em;
    border-radius: 30px;
    border: 3px solid #ffffff;
}

#shopList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0px;
}

#ImageContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.shopItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 4px solid rgb(142, 142, 142);
    height: 29rem;
    font-size: larger;
    margin: 0px 0.3em;
    background-color: #dddddd;
}

.botonAgregar {
    padding: 0.5em 3em;
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    border-radius: 10px;
}

.on{
    background-color: red;
    border: 3px solid rgb(114, 11, 11);
    color: #EEEEEE;
}

.off{
    background-color: green;
    border: 3px solid rgb(16, 73, 8);
    color: #EEEEEE;
}

#botonCalcular{
    background-color: #3387ff;
    color: #EEEEEE;
    padding: 1em 10em;
    font-size: larger;
    margin-bottom: 1em;
}

#botonBorrar{
    background-color: #ff3d33;
    color: #EEEEEE;
    padding: 1em 9.4em;
    font-size: larger;
    margin-bottom: 1em;
}

.amountBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-bottom: 0.5em;
}
.invis{
    visibility:hidden;
}
.amountButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 157, 157);
    color: white;
    height: 2.3em;
}

footer{
    padding-top: 0.5rem;
    background-color: #58462c;
    color: #EEEEEE;
    display: block;
    justify-content: center;
    align-items: center;
}

#LeftFooter{
    justify-content: left;
    width: 75%;
}

#RightFooter{
    justify-content: right;
    text-align: end;
    width: 25%;
}